* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(51, 51, 51);
    background-color: rgb(249, 249, 249);
    overflow-x: hidden;
    padding-top: 7rem;
}

:root {
    --heading-color: rgb(25, 124, 32);
    --font-size: 3rem;
    --font-weight: 600;
    --font-family: Roboto;
    --green:#156615;
    --light:#e9f6e7;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* top header logo section */
.TopHeader {
    width: 100%;
    height: 4.375rem;
    position: relative;
    z-index: 9999;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    /* box-sizing: border-box; */
}

.sticky-wp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.Hleft img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.Hleft {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

.title-grp {
    display: flex;
    flex-direction: column;
}

.title-grp .title {
    color: rgb(0, 77, 64);
    font-size: 1.4em;
    font-weight: 700;
}

.title-grp .subtitle {
    color: rgb(102, 102, 102);
    font-weight: 500;
    font-size: 0.85em;
    letter-spacing: 0.5px;
}

.Hright {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Hright i {
    font-size: 1.2rem;
    margin-left: 15px;
    color: #000000;
}

.top-icon {
    font-size: 1.2rem;
    color: rgb(85, 85, 85);
    /* margin-left: 15px; */
    cursor: pointer;
}

#login-link a {
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    margin-left: 1rem;
}

#login-link a:hover {
    background-color: rgb(43, 43, 43);
    color: white;
}

.lang-drop {
    position: relative;
    display: inline-block;
}

.langbtn {
    background-color: transparent;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
    /* color: #333; */
}

.lang-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid rgb(236, 226, 223);
    border-radius: 5px;
    box-shadow: 0 2px 10px;

}

.lang-opt {
    padding: 8px 10px;
    cursor: pointer;
}

.lang-menu:hover {
    color: rgb(26, 134, 4);
}

/* top header responsive */

@media screen and (max-width:768px) {}

@media screen and (max-width:480px) {}

/* navbar section */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 95, 70);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px 3%;
    /* top: 0; */
    position: relative;
    /* z-index: 100; */

}

.nav-Link {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    /* padding: 0 5%; */
    position: relative;

}

.nav-Link li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    padding: 1rem;
    cursor: pointer;
    transition: border-bottom 0.3s transform 0.3s;
    border-radius: 5px;

}

.nav-Link li a:hover {
    /* border-radius: 2px; */
    transform: scale(1);
    /* border-bottom: rgb(238, 240, 235); */
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(139, 195, 74);
}

.dropdown {
    position: relative;
    /* z-index: 9999; */



}

.dropdown-menu {
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 500;

    min-width: 250px;
    border-top: 8px solid rgb(6, 95, 70);
}

.dropdown a i {
    margin-right: 5px;
}

/* to show dropdown menu */
.dropdown:hover .dropdown-menu {
    display: block;

}

.dropdown-menu li a {
    display: block;
    font-weight: 500;
    color: rgb(51, 51, 51);
    padding: 10px 15px;

}

.dropdown-menu li a:hover {
    background-color: rgb(259, 259, 259);
    color: rgb(4, 124, 104);
    border-radius: 5px;
}

/* for search */
.search-container {
    display: flex;
    align-items: center;
    order: 2;
}

.search-icon {
    color: white;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    z-index: 10;
}

.search-input-field {
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: white;
    color: #333;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    width: 0;
    opacity: 0;
    margin-left: 0;
    transition: width 0.3s ease-out,
        opacity 0.3s ease-out,
        margin 0.3s ease-out;
    pointer-events: none;
}

.search-input-field.active {
    width: 250px;
    opacity: 1;
    margin-right: 15px;
    pointer-events: auto;
}

/* menu toggle */
.menu-tog {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 15px;
    color: white;
    margin-top: 6px;
    display: none;
}

.sub-nav {
    display: flex;
    width: 100px;
    flex-direction: row-reverse;
    justify-content: space-between;

}

/* navbar responsive */

@media screen and (max-width:768px) {
    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 8px 15px;
    }

    .sub-nav {
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: flex-end;
        order: 2;
        flex-grow: 1;
    }

    .search-container {
        order: 1;
        margin-right: auto;

    }

    .menu-tog {
        order: 2;
        display: flex;
        font-size: 1.6rem;
    }

    .nav-Link {
        position: absolute;
        display: flex;
        top: 100%;
        right: 0;
        left: 0;
        background: rgb(4, 95, 70);
        flex-direction: column;
        width: 100%;
        max-width: none;
        text-align: left;
        display: none;
        z-index: 999;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-Link li a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: 1rem;
        padding: 8px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        /* transition: background-color 0.3s transform 0.3s; */
        border-radius: 5px;
        width: 100%;
    }

    .nav-Link li:last-child a {
        border-bottom: none;
    }

    .nav-Link li a:hover {
        /* border-radius: 2px; */
        transform: scale(1.01);
        /* background-color: rgba(255, 255, 255, 0.1);
           color: rgb(17, 17, 17); */
    }

    .nav-Link.show {
        display: flex;

    }

    .dropdown-menu {
        display: block;
        position: static;
        background-color: rgba(0, 0, 0, 0.1);
        box-shadow: none;
        border-top: none;
        padding: 0;
        min-width: auto;
        margin-top: -8px;
    }

    .dropdown a i.fa-chevron-down {
        display: none;
    }

    .dropdown-menu li a {
        padding: 8px 30px;
        color: white;
    }

    .dropdown-menu li a:hover {
        background-color: rgba(0, 0, 0, 0.02);
        color: rgb(255, 255, 255);
        padding: 8px 30px;
    }

    .search-input-field {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        padding: 6px 15px;
        width: 0;
        opacity: 0;
        z-index: 1001;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .search-input-field.active {
        width: calc(100%-120px);
        opacity: 1;
        right: 15px;
        margin-right: 0;
    }

}




/* crop hero section */
/* .crop-hero {
    background-color: rgba(161, 223, 161, 0.733);
    color: rgb(255, 255, 255);
    padding: 3.75rem 1.25rem;
    box-shadow: 0 4px 8px rgba(6, 95, 70, 0.3);
    justify-content: center;
} */

.crop-hero-slide {
    position: relative;
    /* overflow: hidden; */
    height: 25rem;
    z-index: 1;
    /* max-height: 500px; */
    /* b */
}

.crop-slide {
    /* display: none; */
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;

    /* animation: Slide;
        animation-duration: 1.5s; */
}

.crop-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.crop-slide.active {
    opacity: 1;
}

.crop-slide-btn {
    position: absolute;
    top: 50%;
    /* width: auto; */
    /* margin-top: -22px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.2rem;
    /* padding: 0.5rem; */
    padding: 0.625rem 0.875rem;
    cursor: pointer;
    font-weight: bold;
    /* transition: transform, background-color 0.6s ease; */
    font-size: 1.2rem;
    z-index: 20;
    transform: translateY(-50%);
}

.next {
    right: 0.5rem;

}

.pre {
    left: 0.5rem;
}

.crop-slide-btn:hover {
    /* transform: scale(1); */
    background-color: rgba(0, 0, 0, 0.75);
}


.hero-c-content {
    /* max-width: 70rem; */
    /* margin: auto; */
    gap: 3rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    background-color: rgba(1, 56, 26, 0.438);
}


.hero-c-content h2 {
    /* color: rgb(6, 95, 70); */
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    min-width: 10rem;
}

.hero-c-content p {
    padding: 1.8rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    opacity: 0;
    transform: translateY(1rem);
    animation: fade 0.8s ease-in-out forwards;
}

@keyframes fade {
    to {

        opacity: 1;
        transform: translateY(0);
    }
}


/*crop info*/


.crop-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.61);
    margin: 2.2rem 2rem;
    gap: 4rem;
    padding: 14px;
    border-radius: 10px;
}

.season {
    font-size: 1.3rem;
    background-color: var(--green);
    padding: 0.45rem;
    border-radius: 12px;
    color: white;
    width: 9.5rem;
    text-align: center;
    font-weight: 620;
}

.radio-crop {
    gap: 1.4rem;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.radio-crop label {
    margin-right: 1rem;
    cursor: pointer;
}

.rd {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 6px;
    cursor: pointer;
}

.crop-category ul {
    display: flex;
    gap: 1.2rem;
    padding: 0;
    margin: 0;
}

.crop-category ul li {
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
}

/* .crop-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.61);
    margin: 3rem 3rem;
    gap: 7rem;
}

.season {
    font-size: 1.3rem;
    background-color: rgb(2, 97, 2);
    padding: 0.5rem;
    border-radius: 12px;
    color: white;
    width: 10rem;
    text-align: center;
    font-weight: 620;
}

.radio-crop {
    gap: 2rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
}

.radio-crop label {
    margin-right: 1.5rem;
}

.rd {
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;

}

.crop-category ul {
    display: flex;
    gap: 2rem;
}

.crop-category ul li {
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 500;
} */

/* crop-heading-para */
.main-wrapper {
    width: 94%;
    max-width: 75rem;
    /* padding: 1rem 2rem; */
    margin: 1.25rem auto;
}

.season-block {
    margin-bottom: 0.8rem;
    background-color: rgba(9, 201, 9, 0.226);
    padding: 1rem;
    border-radius: 8px;
}
.season-block h2 {
    text-align: center;
    margin-bottom: 1.6rem;
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--heading-color);
}

.season-block p {
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
    line-height: 1.7rem;
    margin: 1rem;
    text-align: left;
}

/* crop details cards */

/* content area */
.content-area{
    display:flex;
    gap:1.4rem;
    align-items:flex-start
}
.cards-column{
    flex:1
}
.detail-column{
    width:40%;
    min-width:18rem;
}

/* grid for cards */
.crop-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:1rem;
}

/* card */
.crop-card{
  background-color:rgba(243, 243, 243,0.2);
  border-radius:10px;
  padding:1rem;
  box-shadow:0 6px 18px rgba(0,0,0,0.1);
  text-align:center;
  cursor:pointer;
  overflow:hidden;
  display:flex;
  flex-direction:column;
  gap:1rem;
 transition: background-color 0.3s ease;
}
.crop-card:hover{
    background-color:rgba(224, 224, 224, 0.3);
}
.crop-card img{
    width:100%;
    height:12rem;
    object-fit:cover;
    border-radius:8px;
}
.crop-card h3{
    margin:0;
    font-size:1.2rem;
    color: var(--green);
}
.crop-card p{
    margin:0;
    font-size:0.9rem;
    color: rgb(46, 46, 46);
    opacity:0.9;

}
.view-btn{
  margin-top:auto;
  padding:0.5rem 0.6rem;
  border-radius:8px;
  border:0;
  background:var(--green);
  color:#fff;
  cursor:pointer;
  font-weight:530;
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.view-btn:hover{
    background-color: rgb(1, 121, 1);
}


/* detail box */
.detail-box{
    
    height: 100rem;
    background-color:rgb(235, 241, 235);
    padding:1.4rem;
    border-radius:10px;
    box-shadow:0 6px 18px rgba(0,0,0,0.05);
}
.detail-box h2{
    margin-top:0;
}
.detail-box p{
    margin-bottom:0.9rem;
}
.detail-row{
    /* display:flex; */
    /* gap:0.6rem; */
    /* align-items:flex-start; */
    margin-bottom:4rem;
    gap: 2rem;
    text-align: center;
}
.detail-row label{
    font-size: 1.6rem;
    min-width: 12rem;
    font-weight:700;
    color:var(--green);
    font-family: Roboto;
}

/* responsive */
@media screen and (max-width:768px){
  .content-area{
    flex-direction:column;
}
  .detail-column{
    width:100%;
}
  .crop-grid{
    grid-template-columns:repeat(2,1fr);
}
  .crop-info{
    flex-direction:column;
    gap:12px;
    align-items:flex-start;
    padding:12px;
}
}
@media screen and (max-width:480px){
  .crop-grid{
    grid-template-columns:1fr;
}
}